

html{
  font-size: 14px;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
  background-color: rgb(90, 159, 206);
  height: 100vh;
}

/**INSTRUCTIONS STYLING**/

h1{
  font-size: 2.5rem;
}

h1,h3,p{
  text-align: center;
}

h3{
  font-size: 1.8rem;
}
p{
  font-size: 1.3rem;
}

.heading{
  font-weight: 700;
  color: rgb(182, 89, 26);
}

.instructions,
.end-game {
  max-width: 366px;
}

/**GAME BOARD STYLING**/

#game-container{
  display: flex;
  width: 100%;
}

#game-board{
  display: grid;
  flex: 40%;
  grid-template-columns: repeat(4, 12.5rem);
  grid-template-rows: repeat(4, 12.5rem);
}

#game-board .card{
  opacity: 0;
  background-color: rgb(32,64,86);
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 7rem;
  color: rgb(255,255,255);
  margin: 0.1rem;
  transition: opacity 2s;
}



#game-board .card:hover{
  cursor: pointer;
}

#win-banner{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  background-color: #30BCED;
  z-index: 10;
}

#win-banner h1{
  text-align: center;
  color: #FC5130;
}

#restart{
  background-color: rgb(32,64,86);
  width: 15rem;
  padding: 1rem;
  border: none;
  color: #FFF;
}

#restart:hover{
  cursor: pointer;
}

#restart:focus{
  background-color: #0e1b29
}
